:root {
  --square-color: #b0d1d980;
  --nav-height: 4rem;
  --max-width: 1200px;
  --bg-color: #f5f5f5;
  --link-hover-color: #bf6341;
  --link-active-color: #d99f8c;
  --alt-background-color: #f2edeb;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: 'Josefin Sans';
  color: #243542;
  --font-color-75: #243542bf;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('fonts/gill-sans/Gill Sans Light.otf') format('opentype');
}

/* Hide the scrollbar while still allowing scrolling */
::-webkit-scrollbar {
  width: 0;
}

h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

/* body > *,
main,
main > * {
  max-width: var(--max-width);
  margin: 0 auto;
} */
nav,
header,
article,
section > div {
  max-width: var(--max-width);
  margin: 0 auto;
}

body {
  margin: 0;
}
img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

nav {
  /* reset body child defaults */
  min-width: 100%;
  margin: 0;

  height: var(--nav-height);
  position: sticky;
  top: 0;
  display: flex;

  text-transform: uppercase;
  justify-content: space-around;
  /* max-width: 1000px; */
  z-index: 1000;

  font-size: 2rem;
  font-weight: 100;

  /* transparent blur */
  background-color: #f5f5f583;
  backdrop-filter: blur(10px);

  outline: 1px solid #0003;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: var(--max-width);
  justify-content: space-around;

  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 4px var(--bg-color);
}

nav a:hover {
  color: var(--link-hover-color);
  border-bottom: 1.5px solid var(--link-hover-color);
  font-weight: 200;
}

nav a:active {
  color: var(--link-active-color);
  border-bottom: 1.5px solid var(--link-active-color);
  font-weight: 200;
}

header {
  display: flex;
  height: calc(100vh - var(--nav-height));
  justify-content: space-between;
  max-width: none;
  background-color: var(--alt-background-color);
}

header :first-child {
  position: relative;
  width: 100%;
}

header :first-child .square {
  position: absolute;
  right: 0;
  bottom: 2rem;
  width: 66%;
  height: 50%;
  background-color: var(--square-color);
}

header :first-child h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
h1 .ivy-mae {
  font-family: 'STIX Two Text', serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1rem;
  white-space: nowrap;
}

h1 .photography {
  font-family: 'Gill Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
  font-size: 3.5rem;
  letter-spacing: 0.7rem;
}

/* START - MAIN */

main h2 {
  text-align: center;
  margin: 2rem 0;
  padding-top: 2rem;
}

main section {
  margin-top: 15rem;
}

main section:nth-child(even) {
  background-color: var(--alt-background-color);
}
/* END - MAIN */

/*  START - PORTFOLIO SECTION */

.portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.portfolio-section article {
  position: relative;
  border: 0.3rem solid var(--bg-color);
}

/* hide from ui but keep for accessibility */
.portfolio-section article > h3 {
  position: absolute;
  color: transparent;
}

.image-grid-left-panel {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 0.3rem;
}

.image-grid-right-panel {
  min-height: 80vh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 0.3rem;
}

.span-2-rows {
  grid-row: span 2;
}

.product-article div div:first-child > img {
  object-position: 70%;
}

article div.header {
  position: relative;
}

article div.header-left > span {
  right: 0;
}

article div.header > span {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  font-size: 5rem;
  font-weight: 300;
  color: var(--bg-color);
}

#header-text-pro,
#header-text-duct,
#header-text-edi,
#header-text-torial,
#header-text-por,
#header-text-trait {
  /* color: #243542; */
  z-index: 100;
}

#header-text-duct {
  left: -0.8rem;
}
#header-text-edi,
#header-text-por {
  right: 1.3rem;
}
#header-text-torial,
#header-text-trait {
  left: -1.57rem;
}
/* END - PORTFOLIO SECTION */

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer p {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
  border-top: 1px solid #0003;
}

/* START - GALLERY */
.glide__slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

#blanket-control {
  display: none;
}

#close-blanket {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blanket {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
}

#blanket-control:checked ~ .blanket {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #00000080;
  z-index: 1000;
}

.glide-button {
  position: absolute;
  display: block;
  z-index: 2;
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0;
  width: 3rem;
  height: 3rem;

  background-color: var(--font-color-75);
  border: 0;
  border-radius: 50%;

  opacity: 0.7;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;

  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}

.glide-button:hover {
  opacity: 1;
  background-color: var(--link-hover-color);
}

.glide-button:active {
  opacity: 1;
  background-color: var(--link-active-color);
}
/* END - GALLERY */

/* START - ABOUT */
.about-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 1.5;

  /* overwride user agent default to align with image */
  margin-block-start: 0;
  margin-block-end: 2em;
}
/* END - ABOUT */

/* START - CONTACT */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.contact-info p {
  font-size: 1.5rem;
  line-height: 1.5;

  /* overwride user agent default to align with form */
  margin-block-start: 0;
  margin-block-end: 2em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.contact-form button {
  background-color: var(--link-hover-color);
  color: var(--bg-color);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.contact-form button:hover {
  background-color: var(--link-active-color);
}

.contact-form button:active {
  background-color: var(--link-hover-color);
}

.contact-form textarea {
  resize: vertical;
  min-height: 15rem;
}
/* END - CONTACT */
